.container {
  padding: 20px 15%;
}

.heder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  height: 10rem;
  padding: 0 5%;
}

.content {
}
.container table {
  margin-top: 20px;
  width: 100%;
}
.container thead {
  background-color: #f8f9fa;
}
.container tr {
  display: grid;
  grid-template-columns: repeat(2, 2fr) repeat(7, 1fr);
  align-items: center;
  margin: 10px 0;
}
.container td {
  font-size: 1rem;
}

.container a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
}
